@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@700&display=swap');


/* 
Typical device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
 */

/* === Tablet === */
@media screen and (min-width:768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #FFA56C, #ffcf60cb);
    }

    section#login {
        width: 80vw;
        height: 400px;
    }

    section#login>div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login>div#formulario {
        float: right;
        width: 70%;
    }
    form > .campo > label{
        display: inline-block;
    }

    
}

/* === Desktop === */
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top,  #FFA56C, #ffcf60cb);
    }

    section#login {
        width: 950px;
        height: 500px;
    }

    section#login>div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login>div#formulario {
        float: left;
        width: 50%;
    }
    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > p{
       font-size: 1em;
       
    }
    form > .campo > label{
        display: inline-block;
    }
    
}